body {
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#controller_container {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 5%;
  width: 100%;
  z-index: 9;
  background-color: #fba63e;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

#file_name {
  font-size: 1vw;
  color: white;
  text-align: right;
  margin: 5px 0 0 0;
}

#mode{
  position: absolute;
  top:5px;
  left: 5px;
  margin: 0;
  font-style: italic;
  color: white;
  font-size: 1.5vw;
  font-weight: 200;
}

#main{
  margin-top: 4%;
  height: 94%;
  display: grid;
  grid-gap:10px;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#viewer_container {
  width: 90%;
  margin: 0 auto;
  grid-row: 1 / 7;
}

#population{
  margin: 0;
  font-size: 1vw;
  text-align: right;
  margin-right: 30px;
}
#retire{
  margin: 0;
  font-size: 1vw;
  text-align: right;
  margin-right: 30px;
}

#answer{
  height: 100%;
  grid-row: 2 / 6;
}

#answer_title{
  margin: 0;
  font-size: 1.5vw;
}

#answerbox{
  margin: 0 auto;
  width: 90%;
  height: 300px;
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
}


#loading {
  width: 200px;
  margin: 25% auto;
  font-style: italic;
  color: white;
}

.space { /* 空欄 ブランク */
  margin: 0px;
  position: absolute;
  background-color: #FFEAEA;
  z-index: 9;
  /* フォントサイズの調整 */
  font-size: 100%;
  cursor: default;
}

.textLayer div{
  cursor: default;  /* 初期値のautoだとtextになって，テキストが選択しにくい */
  user-select: none;
}

button{
  font-size: 200%;
  margin: 10px;
  cursor: pointer;
}

textarea{
  width: 90%;
}
#note_div{
  grid-row: 6 / 11;
  grid-column: 2 / 3;
}

.innerbox{
  margin-left: 20px;
  display: grid;
  grid-gap:10px;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 5fr 5fr;
}
.innerbox h2{
  margin: 0;
}
.innerbox meter{
  width: 90%;
  grid-column: 1 / 3;
}
#controller{
  width: 450px;
  margin: 0 auto;
}

.controller_component{
  cursor: pointer;
  margin-left: 50px;
}
#page{
  margin-left: 50px;
  font-size: 2vw;
}

#wrapper canvas{
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
/*
/*
#mode{
  position: absolute;
  top:5px;
  left: 5px;
  margin: 0;
  font-style: italic;
  color: black;
  font-size: 1.5vw;
}

#file_name {
  position: absolute;
  text-align: left;
  right:5px;
  top: 5px;
  font-size: 1vw;
  color: black;
  z-index: 9;
}

#controller {
  width:500px;
  cursor: pointer;
  margin: 5px auto;
  color:black;
}

#page {
  height: 28px;
  font-size: 12px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", Verdana, Geneva, Arial, Helvetica, sans-serif;
}

button {
  width: 40px;
  height: 28px;
  padding: 0px;
  border: outset 2px
}

button:disabled {
  color: white;
}

#page_num, #scale {
  width: 25px;
  text-align: right;
}


#viewerContainer {
  position: absolute;
  overflow: auto;
}



#pdfviewer {
  position: absolute;
  top: 0;
  left: 0;
  /*
  bottom: 0;
  right: 0;
  margin: auto;
  border: 0px;
  padding: 0px;
}

canvas {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.noteLayer {
  position: absolute;
  top: 0px;
  left: 0px;
}

.textLayer div{
  cursor: cell;  /* 初期値のautoだとtextになって，テキストが選択しにくい *
}

.blank {/* 空欄 ブランク *
  outline: solid 1px;
  margin: 0px;
  position: absolute;
  z-index: 9;
}

.space { /* 空欄 ブランク *
  margin: 0px;
  position: absolute;
  background-color: #FFEAEA;
  z-index: 9;
  /* フォントサイズの調整 *
  font-size: 100%;
  cursor: pointer;
}

.del_space {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  line-height: 20px;
  text-align: center;
  cursor: default;
  z-index: 30;
  background-color: #AAAAAA;
  font-size: 15px;
} */
