body {
  background-color: #FFF;
  padding: 0px;
  margin: 0px;
}

#loading {
  width: 200px;
  margin: 25% auto;
  font-style: italic;
  color: white;
}

#save{
  background-color: #fba63e !important;
  border-radius: 5px !important;
  position: fixed;
  bottom: 3%;
  right: 3%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
#save:hover{
  box-shadow: 0 4px 10px rgba(0,0,0,0.4) !important;

}

/* ---- コントローラー ----*/
#controller_container {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 100%;
  z-index: 9;
  background-color: #fba63e;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  text-align: center;
}

#mode{
  position: absolute;
  top:0.5vh;
  left:1vw;
  margin: 0;
  font-style: italic;
  color: white;
  font-weight: 200;
  font-size: 1.5vw;
}

#file_name {
  position: absolute;
  text-align: left;
  right:1vw;
  top: 1vh;
  font-size: 1vw;
  color: white;
  z-index: 9;
}

#controller {
  max-width: 1000px;
  display: inline;
  color:white;
}

#page {
  height: 3vh;
  font-size: 1vw;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", Verdana, Geneva, Arial, Helvetica, sans-serif;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  max-width: 10vw;
  height: 4vh;
  font-size: 2vh;
  padding: 0.5vw;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.left{
  border-left: solid 1px;
}

.right{
  border-right: solid 1px;
}

button:disabled {
  color: rgba(0, 0, 0, 0);
  visibility: hidden;
}

#page_num, #scale {
  width: 25px;
  text-align: right;
}

/* ---- PDFの表示領域内にある要素 ----*/

#viewerContainer {
  position: absolute;
  overflow: auto;
}

#wrapper {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

#pdfviewer {
  position: absolute;
  top: 0;
  left: 0;
  /*
  bottom: 0;
  right: 0;
  margin: auto;
  */
  border: 0px;
  padding: 0px;
}

canvas {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.noteLayer {
  position: absolute;
  top: 0px;
  left: 0px;
}

.textLayer div{
  cursor: cell;  /* 初期値のautoだとtextになって，テキストが選択しにくい */
}

.blank {/* 空欄 ブランク */
  outline: solid 1px;
  margin: 0px;
  position: absolute;
  z-index: 9;
}

.space { /* 空欄 ブランク */
  margin: 0px;
  position: absolute;
  background-color: #FFEAEA;
  z-index: 9;
  /* フォントサイズの調整 */
  font-size: 100%;
  cursor: pointer;
}

.del_space {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  line-height: 20px;
  text-align: center;
  cursor: default;
  z-index: 30;
  background-color: #AAAAAA;
  font-size: 15px;
}
